<ion-view>
	<ion-content class="fondo1">
		<div class="row text-center portada">
			<div class="col-20 OPCIONES"><a ui-sref="portada">portada</a></div>
		    <div class="col-20 OPCIONES"><a ui-sref="agua">agua</a></div>
		    <div class="col-20 OPCIONES"><a ui-sref="video">video</a></div>
		    <div class="col-20 OPCIONES"><a ui-sref="juego">juego</a></div>
		    <div class="col-20 OPCIONES"><a ui-sref="adn">adn</a></div>
	    </div>
	    <div class="row text-center">
	    	<div class="col">
			<h1 class="titulo">BIOLOGÍA</h1>
	        </div>
	    </div>
			</ion-content>
</ion-view>